@use 'base/mixins' as m;
@use 'base/variables' as v;

.acciones {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    &__enlace {
        color: v.$blanco;
        transition: all .3s;
        font-weight: bold;
        &:hover {
            color: darken(v.$blanco, 30%);
        }
    }

    &__texto {
        display: flex;
        flex-direction: column;

        @include m.tablet {
            display: block;
        }
    }
}