@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario {
    &__fieldset {
        border: none;
    }

    &__legend {
        color: v.$gris;
        font-size: 2rem;
        padding-top: 3rem;
        padding-bottom: 0rem;
        
        &-span {
            color: black;
            font-size: 1.3rem;
            padding-top: 3.3rem;
            
        }
    }

    &__contenedor-redes {
        display: flex;
        align-items: center;
        gap: .5rem;
        
    }

    &__campo {
        position: relative;
        margin: 3rem 0;
        transition: all .3s;

        &--file {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.4rem;
        }

        &-r {
            margin: 3rem 0;
        }

        &-sociales {
            margin: 1rem 0;
        }
    }
    
    &__label {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        pointer-events: none;
        transition: .3s;
        color: darken(v.$blanco, 30%);
        font-weight: 100;
    }

    &__label--file {
        display: block;
        font-size: 1.8rem;
        color: rgba(v.$negro, .8);
    }

    &__label--active {
        top: -.5rem;
    }
    
    &__input {
        border: none;
        padding: 1rem;
        width: 100%;
        height: 5rem;
        background: transparent;
        border: none;
        outline: none;
        padding: 0 3.5rem 0 .5rem;
        border-bottom: .2rem solid darken(v.$blanco, 40%);
        border-radius: .5rem;
        transition: all .3s;
        color: white;
        font-weight: 100;
    }

    &__input--sociales--barra {
        &::before {
            content: "/";
            position: absolute;
            left: 10px; /* Ajusta la posición según sea necesario */
            top: 50%;
            transform: translateY(-50%);
            color: #333; /* Color de la barra */
            pointer-events: none; /* Evita que la barra sea seleccionable */
        }
    }

        
    // Estilos para el estado de autocompletado
    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover,
    &__input:-webkit-autofill:focus,
    &__input:-webkit-autofill:active,
    &__input:-webkit-autofill:visited {
        background-color: transparent !important; // Anula el color de fondo
        color: white !important; // Establece el color del texto
        -webkit-text-fill-color: white !important; // Establece el color del texto para WebKit
        transition: background-color 5000s ease-in-out 0s; // Truco para superar la transición predeterminada
    }

    &__input:focus {
        border-bottom-color: white;
    }


    &__input:focus ~ &__label,
    &__input:not(:placeholder-shown) ~ &__label {
        top: -.5rem;
        color: white;
        font-weight: 700;
    }

    &__icono {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: darken(v.$blanco, 30%);
        transition: all .3s;
    }

    &__input:focus ~ &__icono {
        color: white
    }

    &__contenedor {
        &--boton {
            @include m.boton(darken(v.$azul, 20%), v.$blanco);
            width: 100%;
            border-radius: 2rem;
            margin-top: 1rem;
        }
    }


    // Parte reestablecer y Ponentes
    &__label-r {
        color: darken(v.$blanco, 30%);
    }

    &__input-r {
        color: black;
        font-size: 1.5rem;

        @include m.tablet {
            font-size: 1.6rem;
        }
    }
        
    // Estilos para el estado de autocompletado
    &__input-r:-webkit-autofill,
    &__input-r:-webkit-autofill:hover,
    &__input-r:-webkit-autofill:focus,
    &__input-r:-webkit-autofill:active,
    &__input-r:-webkit-autofill:visited {
        color: black !important; // Establece el color del texto
        -webkit-text-fill-color: black !important; // Establece el color del texto para WebKit
    }

    &__input-r:focus {
        border-bottom-color: black;
    }

    &__input-r:focus ~ &__label-r,
    &__input-r:not(:placeholder-shown) ~ &__label-r {
        color: black;
    }

    &__icono-r {
        color: darken(v.$blanco, 30%);
    }

    &__input-r:focus ~ &__icono-r {
        color: black;
    }


    &__submit {
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
        align-self: flex-start;

        &--registrar {
            width: 100%;
            border-radius: .5rem;
        }
    }

    &__contenedor-icono {
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
    }

    &__icono-redes {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: v.$gris-oscuro;
        width: 6rem;

        i {
            color: white;
            font-size: 2.2rem;

        }
    }

    &__input--sociales {
        flex: 1;
        padding: 1rem;
        border: 1px solid darken(v.$gris-claro, 20);
        border-radius: .5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 20rem;
        font-size: 1.5rem;

        @include m.tablet {
            font-size: 1.6rem;
        }
    }

    &__contenedor-btn {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include m.tablet {
            gap: 2rem;
        }
    }

    &__btn-img {
        @include m.boton(lighten(v.$gris-oscuro, 5%), v.$blanco);
        border-radius: .5rem;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem 1.5rem;
        min-width: 12rem;

        @include m.tablet {
            padding: 1rem 3rem;
            min-width: 15rem;
        }
    }

    &__texto-img { 
        font-size: 1.3rem;
        @include m.tablet {
            font-size: 1.6rem;
        }
    }

    &__listado {
        @include m.tags;
    }
}