@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario {

    &__campo {
        position: relative;
        margin: 3rem 0;
        transition: all .3s;
    }
    
    &__label {
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);
        pointer-events: none;
        transition: .3s;
        color: darken(v.$blanco, 30%);
        font-weight: 100;
    }

    &__label--active {
        top: -.5rem;
    }
    
    &__input {
        border: none;
        padding: 1rem;
        width: 100%;
        height: 5rem;
        background: transparent;
        border: none;
        outline: none;
        padding: 0 3.5rem 0 .5rem;
        border-bottom: .2rem solid darken(v.$blanco, 40%);
        border-radius: .5rem;
        transition: all .3s;
        color: white;
        font-weight: 100;
    }
        
    // Estilos para el estado de autocompletado
    &__input:-webkit-autofill,
    &__input:-webkit-autofill:hover,
    &__input:-webkit-autofill:focus,
    &__input:-webkit-autofill:active,
    &__input:-webkit-autofill:visited {
        background-color: transparent !important; // Anula el color de fondo
        color: white !important; // Establece el color del texto
        -webkit-text-fill-color: white !important; // Establece el color del texto para WebKit
        transition: background-color 5000s ease-in-out 0s; // Truco para superar la transición predeterminada
    }

    &__input:focus {
        border-bottom-color: white;
    }


    &__input:focus ~ &__label,
    &__input:not(:placeholder-shown) ~ &__label {
        top: -.5rem;
        color: white;
        font-weight: 900;
    }

    &__icono {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: darken(v.$blanco, 30%);
        transition: all .3s;
    }

    &__input:focus ~ &__icono {
        color: white
    }

    &__contenedor {
        &--boton {
            @include m.boton(darken(v.$azul, 20%), v.$blanco);
            width: 100%;
            border-radius: 2rem;
            margin-top: 1rem;
        }
    }


    // Parte reestablecer
    &__label-r {
        color: darken(v.$blanco, 30%);
    }

    &__input-r {
        color: black;
    }
        
    // Estilos para el estado de autocompletado
    &__input-r:-webkit-autofill,
    &__input-r:-webkit-autofill:hover,
    &__input-r:-webkit-autofill:focus,
    &__input-r:-webkit-autofill:active,
    &__input-r:-webkit-autofill:visited {
        color: black !important; // Establece el color del texto
        -webkit-text-fill-color: black !important; // Establece el color del texto para WebKit
    }

    &__input-r:focus {
        border-bottom-color: black;
    }

    &__input-r:focus ~ &__label-r,
    &__input-r:not(:placeholder-shown) ~ &__label-r {
        color: black;
    }

    &__icono-r {
        color: darken(v.$blanco, 30%);
    }

    &__input-r:focus ~ &__icono-r {
        color: black;
    }

}