@use 'base/mixins' as m;
@use 'base/variables' as v;

.horas {
    @include m.reset-lista;
    @include m.grid(1, 1rem);
    margin: 2rem 0;
    
    @include m.tablet {
        @include m.grid(2, 1rem);
    }

    &__hora {
        display: flex;
        justify-content: center;
        align-items: center;
        color: v.$azul;
        border: 1px solid v.$azul;
        border-radius: 1rem;
        height: 4rem;

        &:hover {
            cursor: pointer;
            background-color: rgba(80, 229, 255, 0.562);
            border: 1px solid rgba(80, 229, 255, 0.562);
        }

        &--seleccionada {
            background-color: v.$azul;
            color: v.$blanco;

            &:hover {
                background-color: v.$azul;
            }
        }

        &--deshabilitada {
            border: 1px solid rgb(212, 212, 212);
            color: rgb(212, 212, 212);

            &:hover {
                cursor: not-allowed;
                background-color: v.$blanco;
                border: 1px solid rgb(212, 212, 212);
            }
        }
    }
}