@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    min-height: 50rem;
    background-image: url(../img/grafico.svg), url(../img/grafico.svg), linear-gradient(to right, rgba(v.$negro, 1), rgba(v.$negro, .5) ), image-set( url(../img/header.webp) 1x, url(../img/header.jpg) 1x);
    background-repeat: no-repeat;
    background-size: 40rem, 40rem, cover, cover;
    background-position: top left, bottom right, center center, center center;

    &__contenedor {
        @include m.contenedor;
    }

    &__navegacion {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding: 3rem 0;
        gap: 2rem;
        @include m.tablet {
            justify-content: flex-end
        }
    }

    &__enlaces {
        font-size: 1.3rem;
        color: v.$blanco;
    }

    &__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include m.tablet {
            align-items: flex-start;
        }
    }

    &__titulo {
        @include m.texto-fluido(2rem, 8rem);
        @include m.texto-degradado(v.$azul, v.$secundario);
    }

    &__texto {
        color: v.$blanco;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 2rem;

        &--modalidad {
            font-size: 1.5rem;
        }
    }

    &__boton {
        @include m.boton(v.$secundario, v.$blanco);
        text-transform: uppercase;
    }
}