@use 'base/mixins' as m;
@use 'base/variables' as v;

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include m.desktop {
        flex-direction: row;
    }

    &__enlace {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        padding: 0 1rem;
        color: v.$blanco;
        font-weight: 900;
        text-transform: uppercase;
        width: 100%;
        font-size: 1.6rem;
        transition: all .3s;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.253);
            color: v.$blanco;
        }

        @include m.desktop {
            height: 6rem;
            width: auto;
        }

        &--activo {
            background-color: v.$blanco;
            color: v.$azul;

            &:hover {
                background-color: v.$blanco;
            color: v.$azul;
            }
        }
    }
}