@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 0 !important;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    @include m.tablet {
        width: 95%;
    }
}
.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 3rem;
}