@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin xl_tablet {
    @media (min-width: v.$xl_tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl_desktop {
    @media (min-width: v.$xl_desktop) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1rem 4rem;
    color: $colorTexto;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: inline-block;

    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin contenedor-xl {
    width: min(95%, 160rem);
    margin: 0 auto;
}

@mixin contenedor {
    width: min(95%, 120rem);
    margin: 0 auto;
}

@mixin contenedor-md {
    width: min(95%, 80rem);
    margin: 0 auto;
}

@mixin contenedor-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$fuente_principal;
    font-weight: v.$black;
    margin: 2rem 0;
}

@mixin nombre-pagina {
    @include headings;
    text-align: center;
}

@mixin descripcion-pagina {
    text-align: center;
    font-size: 1.8rem;
    font-weight: v.$delgada;
    color: v.$gris-oscuro;
    margin-bottom: 5rem;
}

@mixin logo {
    color: v.$blanco;
    text-align: center;
    margin-bottom: 2rem;
    white-space: nowrap;
    @include desktop {
        text-align: left;
        margin: 0;
    }
}

@mixin texto-fluido($min, $max) {
    font-size: clamp($min, -0.8rem + 10vw, $max);
}

@mixin texto-degradado($incio, $fin) {
    background: linear-gradient(to right, $incio, $fin);
    background-clip: text;
    color: transparent;
}

@mixin menu-social($color, $size) {

    &__enlace {

        &::before {
            color: $color;
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Brands";
        }

        &[href*="facebook.com"]::before {
            content: "\f39e";
        }
        &[href*="github.com"]::before {
            content: "\f09b";
        }
        
        &[href*="tiktok.com"]::before {
            content: "\e07b";
        }
        &[href*="instagram.com"]::before {
            content: "\f16d";
        }
        &[href*="youtube.com"]::before {
            content: "\f167";
        }
        &[href*="twitter.com"]::before {
            content: "\f099";
        }
    }

    &__ocultar {
        display: none;
    }
}

@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin tags {
    @include reset-lista();
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1.5rem;

    > li {
        background-color: v.$azul;
        border-radius: .5rem;
        padding: 1rem;
        font-weight: bold;
        font-size: 1.4rem;
        color: v.$blanco;
        cursor: pointer;
    }
}

@mixin card {
    border: 1px solid lighten(v.$gris, 10);
    padding: 3rem;

    &__nombre {
        font-weight: v.$black;
        font-size: 2.6rem;
        margin: 2rem 0;
    }
}

@mixin bg-gradient($bg_color) {
    background-image: linear-gradient(to left top, $bg_color, lighten($bg_color, 15%));
}