@use 'base/mixins' as m;
@use 'base/variables' as v;

#login, #registro, #olvide {
    display: none;
}

.login, .registro, .olvide {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);


    &__close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 2rem 2rem 0 0;
        i {
            color: v.$blanco;
            cursor: pointer;
        }
    }
}


.auth {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    padding: 5rem 0;

        // Centrado vertical para dispositivos con pantallas altas
        @media (max-width: 768px) and (min-height: 700px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    @include m.tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__modal {
        background: linear-gradient(to right, v.$azul, darken(v.$azul, 15%));
        box-shadow: 0 0 10px 5px darken(v.$azul, 20%);
        padding: 5rem 3rem;
        border-radius: 2rem;
        width: 90%;
        margin: 0 auto;
        position: relative;
        transform: translateY(-100rem);
        opacity: .5;
        transition: all .3s;

        @include m.tablet {
            width: min(90%, 45rem);
            padding: 5rem;
        }
    }
    &__heading {
        margin: 0;
        color: white;
    }

    &__texto {
        text-align: center;
        color: white;
        font-weight: 100;
    }
}

.animar {
    transform: translateY(0);
    opacity: 1;
}

/* SPINER */
.spinner-contenedor {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
}

.sk-chase {
    
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }