@use 'base/mixins' as m;
@use 'base/variables' as v;

/* Estilo para el contenedor de alertas */
#alertas-container {
    text-transform: uppercase;
    font-size: 1.3rem;

    .alert-danger {
    margin: 3rem 0;
        
        ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0;
            li {
                list-style: none;
                background-color: rgba(255, 0, 0, 0.527);
                border-left: .5rem solid v.$rojo;
                border-radius: 2rem;
                color: v.$blanco;
                padding: .8rem 1rem;
            }
        }
    }
}

.swal2-popup { 
    font-size: 1.2rem !important;

    @include m.tablet {
        font-size: 1.5rem !important;
    }
}

#login, #registro, #olvide {
    display: none;
}

.login, .registro, .olvide {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);


    &__close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 2rem 2rem 0 0;
        i {
            color: v.$blanco;
            cursor: pointer;
        }
    }
}


.auth {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    padding: 5rem 0;

        // Centrado vertical para dispositivos con pantallas altas
        @media (max-width: 768px) and (min-height: 700px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    @include m.tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__modal {
        background: linear-gradient(to right, v.$azul, darken(v.$azul, 15%));
        box-shadow: 0 0 10px 5px darken(v.$azul, 20%);
        padding: 5rem 3rem;
        border-radius: 2rem;
        width: 90%;
        margin: 0 auto;
        position: relative;
        transform: translateY(-100rem);
        opacity: .5;
        transition: all .3s;

        @include m.tablet {
            width: min(90%, 45rem);
            padding: 5rem;
        }
    }
    &__heading {
        margin: 0;
        color: white;
    }

    &__texto {
        text-align: center;
        color: white;
        font-weight: 100;
    }
}

.animar {
    transform: translateY(0);
    opacity: 1;
}