@use 'base/mixins' as m;
@use 'base/variables' as v;

#login, #registro, #olvide {
    display: none;
}

.login, .registro, .olvide {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .8);

    opacity: 0;
    transition: opacity 0.2s ease;

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        margin: 2rem 2rem 0 0;
        i {
            color: v.$blanco;
            cursor: pointer;
        }
    }
}


.auth {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    padding: 5rem 0;

        // Centrado vertical para dispositivos con pantallas altas
        @media (max-width: 768px) and (min-height: 700px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    @include m.tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__modal {
        background: linear-gradient(to right, v.$azul, darken(v.$azul, 15%));
        box-shadow: 0 0 10px 5px darken(v.$azul, 20%);
        padding: 5rem;
        border-radius: 2rem;
        width: 90%;
        margin: 0 auto;
        position: relative;

        @include m.tablet {
            width: min(90%, 45rem);
        }
    }
    &__heading {
        margin: 0;
        color: white;
    }

    &__texto {
        text-align: center;
        color: white;
        font-weight: 100;
    }
}

@keyframes modalOpen {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalClose {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}