@use 'base/mixins' as m;
@use 'base/variables' as v;

.agenda {
    padding: 5rem 0;
    @include m.contenedor-xl;
}
.eventos {
    $modificador: &;

    &--workshops {

        #{$modificador}__heading {
            color: v.$secundario;
        }

        .evento__informacion {
            background-color: v.$secundario !important;
            transition: all .3s ease;

            &:hover {
                background-color: darken(v.$secundario, 10) !important;
            }
        }
    }

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, 8vw, 6rem);
    }

    &__fecha {
        color: v.$gris;
        margin: 3rem 0 1rem 0;
    }

    .flecha-contenedor {
        height: 4rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: v.$blanco;
    }
    
}

.evento {
    color: v.$blanco;

    &__hora {
        color: v.$negro;
        font-weight: bold;
    }

    &__informacion {
        border-radius: 2rem;
        padding: 2.5rem 4.5rem;
        cursor: pointer;
        background-color: v.$azul;
        transition: all .3s ease;

        &:hover {
            background-color: darken(v.$azul, 10);
        }
    }

    &__nombre {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__texto {
        font-size: 1.5rem;
        color: v.$blanco;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
        @include m.tablet {
            -webkit-line-clamp: 2;
        }
    }

    &__ponente {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--imagen {
            width: 5rem;
            background-color: v.$blanco;
            border-radius: 50%;
        }

        &--nombre {
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}