@use 'base/mixins' as m;
@use 'base/variables' as v;

.confirmar {
    &__heading {
        margin: 0;
    }
    
    &__contenedor {
        margin: 10rem 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

.contenedor-login {
    display: flex;
    justify-content: center;

    &__boton {
        @include m.boton(v.$secundario, v.$blanco);
        font-size: 1.3rem;
        border-radius: 2rem;
        margin: 1rem 0;

        @include m.tablet {
            font-size: 1.8rem;
        }
    }
}