@use 'base/mixins' as m;
@use 'base/variables' as v;

.reestablecer {
    &__heading {
        margin: 0;
        font-size: 3rem;
        
        @include m.tablet {
            font-size: 4rem;
        }
    }
    
    &__contenedor {
        margin: 10rem 0;
        display: flex;
        flex-direction: column;
        
    }
}