@use 'base/mixins' as m;
@use 'base/variables' as v;

.listado-ponentes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;

    &__ponente {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
        color: v.$azul;
        border: .1rem solid v.$azul;
        border-radius: 1rem;
        height: 4rem;
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background-color: lighten(v.$azul, 45%);
        }

        &--con-margen {
            margin: 1rem 0;
        }

        &--seleccionado {
            color: v.$blanco;
            background-color: v.$azul;

            &:hover {
                cursor: pointer;
                background-color: darken(v.$azul, 15%);
            }
        }
    }

    &__no-resultado {
        text-align: center;
        font-size: 1.6rem;
    }
}